@font-face {
    font-family: "Poppins";
    src: url(./assets/font/poppins.regular.ttf);
}

* {
    font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}

h1,
h2,
h3,
.title {
    color: var(--title-color);
    font-family: "Lora", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: var(--body-color);
}


body {
    background-color: var(--body-color);
    color: var(--text-color);
}

:root {
    --body-color: #F5F0FF;
    --container-color: #FFFFFF;
    --title-color: #220953;
    --first-color: #8B52FF;
    --first-color-dark: #1E0849;

    --second-color: #FF52AE;
    --gradient-color: linear-gradient(to right, #FF52AF, #9F53FF);
    --g1: linear-gradient(to right, #FD6767, #b800c900);
    --text-color: #4B3E65;
    --text-color-light: #A197B4;
    --white-color: #fff;
    --menu-container-color: #fff;

    /* image */
    --prefers-color-scheme-img: url("assets/light/moon.svg");
    --menu-img: url("assets/light/menu.svg");
    /* section 1 images */
    --follow-1-yoga-image-pc: url("assets/light/pc/follow-yoga-1.png");
    --follow-1-yoga-image-mobile: url("assets/light/mobile/follow-yoga-1.png");
    --follow-2-yoga-image-pc: url("assets/light/pc/follow-yoga-2.png");
    --follow-2-yoga-image-mobile: url("assets/light/mobile/follow-yoga-2.png");
    --follow-3-yoga-image-pc: url("assets/light/pc/follow-yoga-3.png");
    --follow-3-yoga-image-mobile: url("assets/light/mobile/follow-yoga-3.png");
    --follow-4-yoga-image-pc: url("assets/light/pc/follow-yoga-4.png");
    --follow-4-yoga-image-mobile: url("assets/light/mobile/follow-yoga-4.png");

    /* Font Sizes */
    --font-size-biggest: 2.75rem;  /* 44px */
    --font-size-bigger: 2rem;      /* 32px */
    --font-size-big: 1.75rem;      /* 28px */
    --font-size-h1: 1.5rem;        /* 24px */
    --font-size-h2: 1.25rem;       /* 20px */
    --font-size-h3: 1rem;          /* 16px */
    --font-size-h4: 0.938rem;      /* 15px */
    --font-size-small: 0.813rem;   /* 13px */
    --font-size-smaller: 0.75rem;  /* 12px */
}
@media (prefers-color-scheme: light) {
    .menu-hover-list.menu-hover-list.menu-hover-list {
        display: none;
    }
    .menubar-container {
        justify-content: space-between;
    }
    .night-mode.night-mode.night-mode {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --title-color: #D1C0F1;
        --text-color: #A094B8;
        --body-color: #14092A;
        --first-color: #1E0849;
        --text-color: #D1C0F1;
        --container-color: #372A51;
        --menu-container-color: #b3b3b3;
        --hover-nav-menu-background: #D1C0F1;
        --hover-nav-menu-text-color: #220953;
        /* image */
        --prefers-color-scheme-img: url("assets/dark/sun.svg");
        --menu-img: url("assets/dark/menu.svg");
        /* section 1 images */
        --follow-1-yoga-image-pc: url("assets/dark/pc/follow-yoga-1.png");
        --follow-1-yoga-image-mobile: url("assets/dark/mobile/follow-yoga-1.png");
        --follow-2-yoga-image-pc: url("assets/dark/pc/follow-yoga-2.png");
        --follow-2-yoga-image-mobile: url("assets/dark/mobile/follow-yoga-2.png");
        --follow-3-yoga-image-pc: url("assets/dark/pc/follow-yoga-3.png");
        --follow-3-yoga-image-mobile: url("assets/dark/mobile/follow-yoga-3.png");
        --follow-4-yoga-image-pc: url("assets/dark/pc/follow-yoga-4.png");
        --follow-4-yoga-image-mobile: url("assets/dark/mobile/follow-yoga-4.png");

    }
    /*.yoga-image {
      background-image: url('./assets/Box group list-dark.png');
    }*/
    footer.footer {
        background-color: initial;
    }

    .light-mode.light-mode.light-mode {
        display: none;
    }

    .menubar-container {
        justify-content: flex-end;
    }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
    .pc-only.pc-only.pc-only {
        display: none;
    }
}

/* Pc Styles */
@media screen and (min-width: 768px) {
    :root {
        --font-size-biggest: 6rem;   /* 96px */
        --font-size-bigger: 4rem;    /* 64px */
        --font-size-big: 3.5rem;     /* 56px */
        --font-size-h1: 2.25rem;     /* 36px */
        --font-size-h2: 1.5rem;      /* 24px */
        --font-size-h3: 1.25rem;     /* 20px */
        --font-size-normal: 1rem;    /* 16px */
        --font-size-small: 0.875rem; /* 14px */
        --font-size-smaller: 0.813rem; /* 13px */
    }
    .mobile-only.mobile-only.mobile-only {
        display: none;
    }
}
