.orienta-regular {
  font-family: "Orienta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    font-family: "Lora", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
    --body-color: #F5F0FF;
    --container-color: #FFFFFF;
    --first-color-dark: #1E0849;
}