
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*section1 start*/

/*section1 end*/

/*section2 start*/

/*section2 end*/

/*section3 start*/
/* section3-mobile-light */

.section3 {
    background-color: #F5F0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.section3 .typo {
    width: 100%;
    text-align: center;
}

.section3 .main-title {
    font-size: 32px;
    font-weight: normal;
    color: #220953;
    line-height: 1.3;
    margin-bottom: 20px;
}

.section3 .typo p {
    font-size: 16px;
    font-weight: normal;
    color: #220953;
    line-height: 1.5;
    margin-bottom: 30px;
}

.section3 .start-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 30px;
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    color: #fff;
    text-decoration: none;
    font-weight: medium;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    gap: 8px;
}

.section3 .arrow-icon {
    width: 20px;
    height: 20px;
}

.section3 .section3-content {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
}

.section3 .section3-content .main-image {
    position: absolute;
    bottom: 0;
    width: 90vw;
    max-width: 700px;
    height: auto;
    z-index: 1;
}

.section3 .info-box-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.section3 .info-box {
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.section3 .heart-rate {
    top: 30%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 120px;
    padding: 10px 15px;
}

.section3 .heart-rate .icon {
    width: 30%;
    height: auto;
}

.section3 .heart-rate .figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section3 .heart-rate .bpm-text {
    font-size: 12px;
    font-weight: normal;
    background-image: linear-gradient(to right,  #FF52AF, #9F53FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.section3 .heart-rate h4 {
    font-size: 13px;
    font-weight: normal;
    color: #220953;
}

.section3 .free-courses {
    bottom: 15%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 120px;
    padding: 10px 15px;
}

.section3 .free-courses .number-text {
    font-size: 12px;
    font-weight: bold;
    background-image: linear-gradient(to right, #FF52AF, #9F53FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.section3 .free-courses h4 {
    font-size: 13px;
    font-weight: normal;
    color: #220953;
}

/* section4-mobile-light */
.section4 {
    background-color: #F5F0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.section4 .typo {
    width: 100%;
    text-align: center;
}

.section4 .main-title {
    font-size: 32px;
    font-weight: normal;
    color: #220953;
    line-height: 1.2;
    margin-bottom: 20px;
}

.section4 .typo p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #220953;
    line-height: 1.5;
    margin-bottom: 30px;
}

.section4 .start-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 30px;
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    gap: 8px;
}

.section4 .arrow-icon {
    width: 20px;
    height: 20px;
}

.section4 .section4-content {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.section4 .image-with-text {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 20px;
    border: 2px #F5F0FF;
}

.section4-content .top-image {
    margin-top: 10%;
}

.section4 .image-with-text img {
    width: 100%;
    border-radius: 20%
}

.section4 .text-bubble {
    position: absolute;
    top: 35%;
    right: -20%;
    transform: translateY(-50%);
    align-items: center; 
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.section4 .top-image-container {
      float: left; 
      margin-right: 10%;
      z-index: 10;
}

.section4 .bottom-image-container {
      float: right; 
      margin-left: 15%;
      margin-top: -20%;
}

.section4 .bottom-image-container .text-bubble {
    left: -15%;
    right: auto;
    top: 70%;
}

.section4 .text-bubble .bubble-icon {
    width: 20%;
    height: auto;
}

.section4 .text-bubble h4 {
    font-size: 14px;
    background-image: linear-gradient(to right, #FF52AF, #9F53FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: normal;
}

/* ------------------ PC VERSION (min-width: 768px) ------------------ */
@media (min-width: 768px) {
    /* SECTION 3 - PC */
    .section3 {
        padding: 80px 50px;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    .section3 .typo {
        text-align: left;
    }

    .section3 .main-title {
        font-size: 50px;
        width: 70%;
    }

    .section3 .typo p {
        font-size: 18px;
        width: 95%;
    }

    .section3 .section3-content {
        height: 80vh;
        align-items: flex-end;
        justify-content: center;
        margin-top: 0;
    }
    
    .section3 .section3-content .main-image {
        position: relative;
        width: 40vw;
        height: auto;
    }
    
    .section3 .info-box-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    
    .section3 .heart-rate {
        top: -10%;
        left: 20%;
        width: 25%;
    }

    .section3 .free-courses .number-text,
    .section3 .free-courses h4,
    .section3 .figcaption h4,
    .section3 .figcaption .bpm-text{
    font-size: 16px;
    font-weight: normal;
}
    .section3 .free-courses {
        bottom: -20%;
        right: 0%;
    }

    /* SECTION 4 - PC */
    .section4 {
        margin-top: 20%;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section4 .typo {
        text-align: left;
    }

    .section4 .main-title {
        font-size: 50px;
        width: 50%;
    }

    .section4 .typo p {
        font-size: 18px;
        width: 80%;
    }

    .section4 .section4-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }
    
    .section4 .image-with-text {
        position: relative;
        width: 40%;
        margin-bottom: 0;
    }
    
    .section4 .top-image-container {
        position: absolute;
        top: -80%;
        right: 20%;
        z-index: 100;
        width: 80%;
        border: 2px #F5F0FF;
    }
    
    .section4 .bottom-image-container {
        position: absolute; 
        top: 70%;
        left: -50px;
        width: 80%;
        z-index: 1;
    }
    
    .section4 .text-bubble {
        position: absolute;
    }
    
    .section4 .top-image-container .text-bubble {
        top: 40%;
        left: 80%;
    }
    
    .section4 .bottom-image-container .text-bubble {
        top: 80%;
        left: -5%;
        right: auto;
        width: 38%;
    }
}

/*section4 end*/

/*section5 start*/

/*section5 end*/

/*section6 start*/

/*section6 end*/